[Unit]
Description=HOPM IRC Service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/xxx/bots/hopm
ExecStart=ExecStart=/home/debian/xxx/bots/.env/bin/python3 /home/debian/xxx/bots/hopm/main.py
Restart=always

[Install]
WantedBy=multi-user.target
