autocommand==2.2.2
backports.tarfile==1.1.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
docopt==0.6.2
future==0.18.3
idna==3.7
inflect==7.2.0
irc==20.4.0
irc-bot==1.0.41
irc3==1.1.10
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.logging==3.3.0
jaraco.stream==3.0.3
jaraco.text==3.12.0
more-itertools==10.2.0
pytz==2024.1
requests==2.32.4
six==1.16.0
soupsieve==2.5
tempora==5.5.1
typeguard==4.2.1
typing_extensions==4.11.0
urllib3==2.5.0
venusian==3.1.0
watchdog==4.0.0
